node_modules
.turbo

# nitro
.nitro/
.output/

# expo
.expo/
expo-env.d.ts
apps/mobile/.gitignore
apps/mobile/ios
apps/mobile/android

# production
dist

# local env files
.env
.env*.local

# native
.cache
.expo
expo-env.d.ts
ios
android

# web
.tanstack
.env
.vercel
.nitro
.output

# playwright
playwright-report
test-results
# TODO: why does this seem to require the `**/` prefix?
**/playwright/.auth

# Docker
.data
# go
.backend
backend/database
backend/tmp

.DS_Store